body {
  margin: 0;
  padding: 0;

  background-image: url("9ce7318324ad7cab94d355f5a44b140f.jpg.jpg"); /* coloca o nome da sua imagem aqui */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* centralização geral */
div { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* CARROSSEL */
.carousel {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

/* PAUSA quando passa o mouse */
.carousel:hover .carousel-track {
  animation-play-state: paused;
}

/* PAUSA no celular */
.carousel:active .carousel-track {
  animation-play-state: paused;
}

.carousel img {
  width: 250px;
  height: 250px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

/* efeito zoom */
.carousel img:hover {
  transform: scale(1.05);
}

/* ANIMAÇÃO */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
