body {
}

div{ 
      display: flex ;
      align-items: center ;
      justify-content: center ;
      flex-direction: column ;
}

.galeria {
      display:flex;
      justify-content: center;
      gap: 15px;
}

.galeria img {
      width: 250px;
      heigth: 250px;
      cursor: pointer;
}
.galeria img:hover {
      transform: scale(1.05);
}

.galeria {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 15px;
}
