/* FUNDO */
body {
  margin: 0;
  padding: 0;

  background-image: url("9ce7318324ad7cab94d355f5a44b140f.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
  position: relative; /* IMPORTANTE */
}

/* CONTEÚDO DE CIMA */
.conteudo {
  text-align: center;
  margin-top: 40px;
}

/* BOTÃO */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 20px;
}

/* CARROSSEL (POSIÇÃO FIXA) */
.carousel {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  overflow: hidden;
}

/* TRACK */
.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

/* PAUSA */
.carousel:hover .carousel-track {
  animation-play-state: paused;
}

.carousel:active .carousel-track {
  animation-play-state: paused;
}

/* IMAGENS */
.carousel img {
  width: 250px;
  height: 250px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.carousel img:hover {
  transform: scale(1.05);
}

/* ANIMAÇÃO */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
